<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpeedrunVD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67D7A530214AD96C00B34C75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67D7A544214AD96F00B34C75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67D7A54F214AD96F00B34C75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
